.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #060c21;
  width: 100%;
  height: 100vh;
}

.app-container {
  margin-top: 5vh;
  height: 500px;
  width: 60vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 5px;
  background: linear-gradient(0deg, black, #444444);
}

.glowing::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(
    45deg,
    #e8f74d,
    #ff6600d9,
    #00ff66,
    #13ff13,
    #ad27ad,
    #bd2681,
    #6512b9,
    #ff3300de,
    #5aabde
  );
  background-size: 400%;
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  z-index: 1;
  animation: glower 20s linear infinite;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.app-container div span {
  font-size: 90px;
  color: white;
}

.content {
  color: #ffffff;
  padding: 50px;
}

.buttons {
  margin: 50px 0px;
}

.buttons button {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
  margin: 10px;
}

.start-btn-border {
  border: 2px solid #70e000;
}

.stop-btn-border {
  border: 2px solid #f94144;
}

.reset-btn-border {
  border: 2px solid #00bbf9;
}

.resume-btn-border {
  border: 2px solid #8ac926;
}

.reset-btn {
  padding: 30px 17px;
  background-color: #00bbf9;
  color: white;
  border-radius: 50%;
  text-decoration: none;
}

.start-btn {
  padding: 30px 18px;
  background-color: #70e000;
  color: white;
  border-radius: 50%;
  text-decoration: none;
}

.stop-btn {
  padding: 30px 21px;
  background-color: #f94144;
  color: white;
  border-radius: 50%;
  text-decoration: none;
}

.resume-btn {
  padding: 30px 11px;
  background-color: #8ac926;
  color: white;
  border-radius: 50%;
  text-decoration: none;
}

.content {
  background-color: beige;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #060c21;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 430px) {
  .app-container {
    width: 350px;
    height: 70vh;
  }

  .app-container div span {
    font-size: 60px;
  }
}
